<div id="bckground-home" class="container-fluid">
  <div class="">
    <div class="row justify-content-center">
      <div class="card p-3 mt-5" style="width: 18rem; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); margin-bottom: 50px;">
  <img src="https://interactive-examples.mdn.mozilla.net/media/examples/grapefruit-slice-332-332.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Join us!</h5>
    <p class="card-text">Hey you ! You are about to enter on the biggest "pics community!!! Share your pics, you mood, your lifestyle with the others... What are you waiting for?"</p><br>
    <p><strong>Kind of instagram clone app for student to reproduce</strong></p>
    <hr>
    <ul>
      <li>Landing creation</li>
      <li>User table with devise</li>
      <li>Use of Bootstrap</li>
      <li>Post table</li>
      <li>MVC</li>
    </ul>
    <a href="/users/sign_up" class="btn btn-primary">Get Started!</a>
  </div>
</div>
    </div>
  </div>
</div>
