#bckground-home{
  width: 100%;
  height: 100%;
  // background-image: url(polaroids.jpg);
  background-image: image-url("polaroids.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
