#bckground-home{
  width: 99vw;
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/Nikksys/instaclone/master/app/assets/images/polaroids.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
